# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv (variables de entorno)
.env

# Sequelize (migraciones, logs)
*.sqlite
*.sqlite3
*.log
.DS_Store

# Sistemas
.idea/
.vscode/
dist/
coverage/
